@charset "UTF-8";
:root {
  --accent-color: #2196f3;
  --main-color: #212121;
  --paragraph-color: #757575;
  --hero-color: #2f303a;
  --section-color: #ffffff;
  --second-section: #E5E5E5;
  --buttom-port-color:#F5F4FA;
  --icon-color: #AFB1B8;
  --main-font: font-family: 'Roboto', sans-serif;
  --special-font: font-family: 'Raleway', sans-serif;
  --time-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-color);
}

/* ==============================Сбросы============================== */
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}

.section {
  padding: 94px 0 0 0;
}

.last-section {
  padding: 0 0 94px 0;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.box-flex {
  display: flex;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.menu-list .menu-link.current {
  color: var(--accent-color);
}

.menu-link.current::after {
  transform: scaleX(1);
}

.menu-link::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  bottom: 0;
  border-radius: 2px;
  background-color: var(--accent-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: scaleX(0);
}

.menu-link:hover::after,
.menu-link:focus::after {
  transform: scaleX(1);
}

.menu-link {
  padding: 32px 0;
  position: relative;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.tel-link:hover,
.tel-link:focus {
  color: var(--accent-color);
}

.tel-link:hover .tel-icon,
.tel-link:focus .tel-icon {
  fill: var(--accent-color);
}

.mail-link:focus,
.mail-link:hover {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.mail-link:focus .mail-icon,
.mail-link:hover .mail-icon {
  fill: var(--accent-color);
}

.logo-link {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

/* COntainers */
/* end containers */
/* ==============================HEADER============================== */
.header {
  background-color: var(section-color);
  border-bottom: 1px solid #ececec;
}

/*   .current::after {
  content: '';
  display: block;
  color: var(--accent-color);
  width: 100%;
  height: 4px;
    border-radius: 2px;
    
  } */
.logo-link {
  align-items: center;
  padding: 24px 0 25px 0;
  margin-right: 93px;
}

.navigation {
  display: flex;
}

.menu-list {
  display: flex;
  align-items: center;
}

.menu-list .menu-item + .menu-item {
  margin-left: 50px;
}

.menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
  transition: color var(--time-animation);
}

.contact-menu {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.mail-link,
.tel-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--paragraph-color);
  display: flex;
  padding: 32px 0px;
  align-items: center;
  transition: color var(--time-animation);
}

.mail-icon,
.tel-icon {
  display: flex;
  margin-right: 10px;
  fill: var(--paragraph-color);
}

.mail-icon {
  width: 16px;
  height: 12px;
}

.tel-icon {
  width: 10px;
  height: 16px;
}

.contact-menu .contact-item + .contact-item {
  margin-left: 50px;
}

.hero-head {
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: auto;
  color: var(--section-color);
}

.hero {
  margin-left: auto;
  margin-right: auto;
  background-color: var(--hero-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/herosection/Hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1600px;
  text-align: center;
  padding: 200px 0;
}

.modal-btn {
  display: inline-block;
  min-width: 200px;
  border-radius: 4px;
  padding: 10px 32px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  color: var(--section-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid transparent;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 1.87;
  text-align: center;
  cursor: pointer;
}

.second-section {
  background-color: var(--section-color);
}

.item {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.paragraph {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--paragraph-color);
}

.dignity-list {
  width: 270px;
}

.dignity-list:not(:last-child),
.features-menu-item:not(:last-child) {
  margin-right: 30px;
}

.dignity-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: var(--buttom-port-color);
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
}

.dignity-icon {
  width: 70px;
  height: 70px;
}

.features-section {
  background-color: var(--section-color);
  padding-bottom: 94px;
}

.features-head,
.comand-head,
.clients-head {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.features-menu {
  display: flex;
  justify-content: center;
}

.feature-box {
  position: relative;
}

.feature-box-name {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  transform: translateY(-100%);
}

.comand-section-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
}

.comand-section-position {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--paragraph-color);
  text-align: center;
  margin-bottom: 20px;
}

/* Падинг в персонажах */
.comand-section {
  background-color: var(--buttom-port-color);
  padding-bottom: 94px;
  padding-top: 94px;
}

.comand-section-name {
  margin: 0px auto 10px auto;
}

.comand-section-position {
  margin-left: auto;
  margin-right: auto;
}

.person-item {
  padding: 30px 32px;
}

/* таблица */
.comand-section-item {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--section-color);
  width: calc((100% - 90px) / 4);
}

.comand-section-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* .comand-section-item {
  width: calc ((100% - 90px) / 4)

} */
.comand-section-item:nth-child(4n) {
  margin-right: 0;
}

.comand-section-item:nth-last-child(-n + 4) {
  margin-bottom: 0;
}

.comand-section-item + .comand-section-item {
  margin-left: 30px;
}

.social-list {
  display: flex;
  justify-content: space-between;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  fill: var(--icon-color);
  transition: fill var(--time-animation), background-color var(--time-animation);
}

.social-list-icon {
  width: 20px;
  height: 20px;
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--accent-color);
  fill: var(--section-color);
}

.clients-section {
  padding-top: 94px;
}

.clients-list {
  display: flex;
  justify-content: space-between;
}

.client-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
}

.client-list-link:focus .client-icon,
.client-list-link:hover .client-icon {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.client-list-link:focus,
.client-list-link:hover {
  border-color: var(--accent-color);
}

.client-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  fill: var(--icon-color);
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  transition: fill var(--time-animation), border var(--time-animation);
}

.client-icon {
  width: 106px;
  height: 60px;
}

.footer {
  background-color: var(--hero-color);
  padding: 60px 0;
}

.logo-link-footer {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  display: inline-block;
  text-align: start;
  color: #ffffff;
}

.town-adress {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 20px;
  color: var(--section-color);
}

.contact-footer {
  margin-top: 9px;
}

.contact-footer-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: inline-block;
  margin-top: 9px;
  color: rgba(255, 255, 255, 0.6);
}

.join-us-head {
  color: var(--section-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.join-us-menu {
  display: flex;
  margin-top: 20px;
}

.social-link-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--section-color);
  transition: fill var(--time-animation), background-color var(--time-animation);
}

.social-link-footer:focus,
.social-link-footer:hover {
  background-color: var(--accent-color);
}

.icon-footer {
  width: 20px;
  height: 20px;
}

.join-us {
  align-items: center;
  margin-left: 70px;
  margin-right: 93px;
}

.join-us-item:not(:last-child) {
  margin-right: 10px;
}

.box {
  display: flex;
  align-items: baseline;
}

/* =============== FORM FOOTER ===============*/
.footer-form-head {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--section-color);
  margin-bottom: 20px;
}

.footer-form-input {
  display: block;
  width: 358px;
  height: 50px;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 16px;
  margin-right: 12px;
}

.footer-form-button {
  display: flex;
  align-items: center;
  width: 200px;
  height: 50px;
  padding: 10px 0 10px 29px;
  background-color: var(--accent-color);
  color: var(--section-color);
  border: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
}

.footer-form-button::after {
  content: '';
  width: 24px;
  height: 24px;
  display: inline-block;
  background-image: url(../images/modalimages/icon-send.svg);
  margin-left: 10px;
}

.fotter-form-wrapper {
  display: inline-flex;
  align-items: center;
}

.projects-section {
  padding-bottom: 94px;
}

.port-butn {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  background-color: #f5f4fa;
  padding: 6px 22px;
  cursor: pointer;
  border-radius: 4px;
  border-color: transparent;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-projects-button:not(:last-child) {
  margin-right: 8px;
}

.special-but-style {
  color: var(--section-color);
  background-color: var(--accent-color);
}

.port-butn:hover,
.port-butn:focus {
  color: var(--section-color);
  background-color: var(--accent-color);
}

.project {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
}

.project-position {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--paragraph-color);
}

.contact-footer-item:hover,
.contact-footer-item:focus {
  color: var(--accent-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-projects {
  justify-content: center;
  margin-bottom: 50px;
}

/* =================ТАблица проэктов=============== */
.projects-decription,
.comand-section-menu {
  display: flex;
  flex-wrap: wrap;
}

.projects-decription {
  margin-top: -30px;
  margin-left: -30px;
  padding: 0px;
  list-style: none;
}

.projects-decription-item {
  margin-top: 30px;
  margin-left: 30px;
  width: calc((100% - 90px) / 3);
  /* border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee; */
}

.project-position {
  margin-top: 8px;
}

.pict {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.project-link {
  display: block;
}

.project-link:hover,
.project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.menu-projects-button:hover,
.menu-projects-button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.card-thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: 0.03em;
  width: 100%;
  height: 100%;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 23px;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link:hover .overlay,
.project-link:focus .overlay {
  transform: translateY(-100%);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transform: scaleY(1);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 500ms linear, visibility 500ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-width: 528px;
  min-height: 581px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms linear 500ms;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
  transition: fill 250ms var(--time-animation);
}

.close-btn:hover,
.close-btn:focus {
  fill: var(--accent-color);
}

.close-icon {
  width: 18px;
  height: 18px;
}

/* transform: translateX(2px)
translateY(-2px) */
.modal-form-head {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-form {
  display: flex;
  flex-direction: column;
  padding: 45px 40px 35px 40px;
}

.modal-form-field {
  display: block;
  margin-top: 10px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form-input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms var(--time-animation), box-shadow 250ms var(--time-animation);
}

.modal-form-input:focus,
.modal-form-input:hover {
  outline: none;
  border-color: var(--accent-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-form-input:focus + .modal-form-icon,
.modal-form-input:hover + .modal-form-icon {
  fill: var(--accent-color);
}

.modal-form-message {
  display: block;
  width: 100%;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  width: 448px;
  height: 120px;
  transition: border-color 250ms var(--time-animation);
  resize: none;
}

.modal-form-message:hover,
.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-message::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  transition: fill 250ms var(--time-animation);
}

.modal-form-wrapper {
  display: block;
  position: relative;
  margin-top: 4px;
}

.modal-form-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--accent-color);
  color: #ffffff;
  cursor: pointer;
}

/* ==========================CheckBOx========================== */
.modal-form-checkbox-label::before {
  content: '';
  display: block;
  width: 16px;
  height: 15px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid var(--main-color);
  margin-right: 8px;
}

.modal-form-checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.modal-form-checkbox:checked + .modal-form-checkbox-label::before {
  background-color: var(--accent-color);
  background-image: url(../images/modalimages/checkicon.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-color: transparent;
}

.modal-form-checkbox:focus + .modal-form-checkbox-label::before {
  outline: 1px solid var(--accent-color);
}

.modal-form-label-link {
  color: var(--accent-color);
  text-decoration: underline;
}
/*# sourceMappingURL=main.css.map */