/* =============================FUNDAMENTAL RULES============================= */
:root {
  --accent-color: #2196f3;
  --main-color: #212121;
  --paragraph-color: #757575;
  --hero-color: #2f303a;
  --section-color: #ffffff;
  --second-section: #E5E5E5;
  --buttom-port-color:#F5F4FA;

  --main-font: font-family: 'Roboto', sans-serif;
  --special-font: font-family: 'Raleway', sans-serif;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-color);
}

/* ==============================Сбросы============================== */
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
/* =================================================================== */

.menu-list .menu-link.current {
  color: var(--accent-color);
}

.menu-link:hover,
.menu-link:focus {
color: var(--accent-color);
}

.menu-link {
  padding: 32px 0;
}

.tel-link:hover,
.tel-link:focus {
  color: var(--accent-color);
}
.mail-link:focus,
.mail-link:hover {
  color: var(--accent-color);
}

.logo-link  {
  font-family: Raleway;

font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;

color: var(--main-color)
}

img {
  display: block;
}

/* ==============================HEADER============================== */
.header {
  background-color: var(section-color);
}

  
.container {
display: flex;
width: 1170px;
padding: 0 15px;
}

.logo-link {
  align-items: center;
  padding: 24px 0 25px 0;
  margin-right: 93px;
}


 .navigation {
  display: flex;
 }


.menu-list {
  display: flex;
  align-items: center;
}


/* .menu-item {
  margin-right: 50px; */

/* } */
/* .menu-list .menu-item:last-child {
  margin-right: 0px;
}
.menu-list .menu-item:first-child {
  margin-left: 0px;
} */
.menu-list .menu-item + .menu-item {
  margin-left: 50px;
}



.menu-link {

font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;

color: var(--main-color);
}

.contact-menu {
  display: flex;
  align-items: center;
}

.mail-link,
.tel-link {
  font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;

color: var(--paragraph-color);


}


.contact-menu .contact-item + .contact-item {
  margin-left: 50px;
}
 



/* ===============================HERO=============================== */
.hero-head {
font-family: var(--main-font);
font-weight: 900;
font-size: 44px;
line-height: 1.36;


text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

color: var(--section-color);

}
.hero {
  background-color: var(--hero-color)

}
.modal-btn {
  display: inline-block;

  min-width: 200px;
  height: 50px;
  
  color: var(--section-color);
  background-color: var( --accent-color);
  box-shadow: 0px 4px 4px rgb(0, 0, 0, 0.15);

  border: 1px solid transparent;

  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 1.87;
  
  text-align: center;

  cursor: pointer;

  border-radius: 4px;
  padding: 10px 32px;

  
}

/* ============================Second Section========================= */
.item {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.paragraph {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--paragraph-color);
}

.second-section {
  background-color: var(--section-color);
}


/* ===============================WHAT WE ARE DOING====================== */
.features-section{
  background-color: var(--section-color);

}

.features-head,
.comand-head {
  font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
}

/* =============================Person section============================== */

.comand-section-name {
  font-weight: 500;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
text-align: center;
}


.comand-section-position {
  font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
color: var(--paragraph-color);
text-align: center;
}

.comand-section {
  background-color: var(--second-section);
}

.comand-section-item {
  background-color: var(--section-color);
}


/* =======================FOOTER======================== */
.footer {
  background-color: var(--hero-color);
}

.logo-link-footer {
  font-family: Raleway;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;

  color: #FFFFFF;
}

.town-adress  {
  font-style: normal;
  font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;

color: var(--section-color);
}
.contact-footer-item {
  font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;

color: rgba(255, 255, 255, 0.6);

}

/* =====================PORTFOLIO PAGE====================== */

.port-butn {
font-family: var(--main-font);
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;

  color: var(--main-color);
  background-color: var(--buttom-port-color);

  cursor: pointer;
}
.special-but-style {
  color: var(--section-color);
  background-color: var(--accent-color);
}

.port-butn:hover,
.port-butn:focus {
  color: var(--section-color);
  background-color: var(--accent-color);

}

.project {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  
  color: var(--main-color)
}
.project-position{
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  letter-spacing: 0.03em;
  
  color: var(--paragraph-color)
}

.contact-footer-item:hover,
.contact-footer-item:focus {
  color: var(--accent-color);

}
