/* =============================FUNDAMENTAL RULES============================= */
:root {
  --accent-color: #2196f3;
  --main-color: #212121;
  --paragraph-color: #757575;
  --hero-color: #2f303a;
  --section-color: #ffffff;
  --second-section: #E5E5E5;

  --main-font: font-family: 'Roboto', sans-serif;
  --special-font: font-family: 'Raleway', sans-serif;
}

body {
  font-family: 'Roboto', sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.menu-list .menu-link.current {
  color: var(--accent-color);
}

.menu-link:hover,
.menu-link:focus {
color: var(--accent-color);
}

.tel-link:hover,
.tel-link:focus {
  color: var(--accent-color);
}
.mail-link:focus,
.mail-link:hover {
  color: var(--accent-color);
}

.logo-link  {
  font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;

color: var(--main-color)
}

/* ==============================HEADER============================== */
.header {
  background-color: var(section-color);
}


.menu-link {

font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;

color: var(--main-color);
}

.mail-link,
.tel-link {
  font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;

color: var(--paragraph-color);
}




/* ===============================HERO=============================== */
.hero-head {
font-family: Roboto;
font-weight: 900;
font-size: 44px;
line-height: 1,36;


text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

color: var(--section-color);

}
.hero {
  background-color: var(--hero-color)

}
.modal-btn {
  color: var(--section-color);
  background-color: var( --accent-color);

font-weight: bold;
font-size: 16px;
line-height: 1,87;
letter-spacing: 0.06em;

}

/* ============================Second Section========================= */
.item {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.paragraph {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.second-section {
  background-color: var(--second-section);
}


/* ===============================WHAT WE ARE DOING====================== */
.features-section{
  background-color: var(--second-section);

}

.features-head,
.comand-head {
  font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
}

/* =============================Person section============================== */

.comand-section-name {
  font-weight: 500;
font-size: 16px;
line-height: 1.18;
/* identical to box height */


letter-spacing: 0.03em;
}


.comand-section-position {
  font-size: 16px;
line-height: 1.18;
/* identical to box height */


letter-spacing: 0.03em;
}




/* =======================FOOTER======================== */
.footer {
  background-color: var(--hero-color);
}

.logo-link-footer {
  font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;

  color: #FFFFFF;
}

.town-adress  {
  font-style: normal;
  font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;

color: var(--section-color);
}
.contact-footer-item {
  font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;

color: var(--paragraph-color);

}