// utils
@import './utils/variable';
@import './utils/visuallyHidden';
// bases
@import './base/bases';
@import './base/container';
// components

@import './components/modal-btn';
@import './components/logo';
@import './components/social-link';
@import './components/footer-form';
@import './components/projects-butn';

// layout
@import './layout/pageHeader';
@import './layout/pageHero';
@import './layout/pageDignity';
@import './layout/pageFeatures';
@import './layout/pageComand';
@import './layout/pageClients';
@import './layout/pageFooter';
@import './layout/pagePortfolio';
@import './layout/pageBackdrop';
