.menu__link {
  padding: 32px 0;
  position: relative;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--main-color);

  transition: color var(--time-animation);

  &:hover,
  &:focus {
    color: var(--accent-color);
    &::after {
      transform: scaleX(1);
    }
  }

  &::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;

    bottom: 0;
    border-radius: 2px;
    background-color: var(--accent-color);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: scaleX(0);
  }

  &.current::after {
    transform: scaleX(1);
  }
}

.menu__list .menu__link.current {
  color: var(--accent-color);
}

.mail__link,
.tel__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--paragraph-color);

  display: flex;
  padding: 32px 0px;

  align-items: center;

  transition: color var(--time-animation);

  &:hover,
  &:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
}

.mail__icon,
.tel__icon {
  display: flex;
  margin-right: 10px;
  width: 16px;
  height: 12px;

  fill: var(--paragraph-color);

  .mail__link:focus &,
  .mail__link:hover &,
  .tel__link:hover &,
  .tel__link:focus & {
    fill: var(--accent-color);
  }
}

.menu__list {
  display: flex;
  align-items: center;
  & .menu__item + .menu__item {
    margin-left: 50px;
  }
}

.contact__menu {
  display: flex;
  align-items: center;
  margin-left: auto;

  & .contact__item + .contact__item {
    margin-left: 50px;
  }
}

.header {
  background-color: var(section-color);

  border-bottom: 1px solid #ececec;
}

.navigation {
  display: flex;
}
