.footer {
  background-color: var(--hero-color);
}

.first-box {
  text-align: center;
  margin-bottom: 60px;
}

.town-adress {
  margin-bottom: 8px;

  font-style: normal;
  @include font(17px, 400, 24px);
  letter-spacing: 0.03em;

  color: var(--clear-white);
}

.contact__item {
  @include font(14px, 400, 24px);
  letter-spacing: 0.03em;
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.contact__link {
  display: inline-block;

  color: rgba(255, 255, 255, 0.6);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.joinUs__head {
  margin-bottom: 20px;
  @include font(14px, 700, 17px);
  text-align: center;
  text-transform: uppercase;

  color: var(--clear-white);
}

/* .contact-footer {
  margin-top: 9px;
} */

/* .contact-footer-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  display: inline-block;
  margin-top: 9px;

  color: rgba(255, 255, 255, 0.6);
} */
/* .contact-footer-item:hover,
.contact-footer-item:focus {
  color: var(--accent-color);

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .join-us__menu {
  display: flex;

  margin-top: 20px;
} */

/* .join-us {
  align-items: center;
  margin-left: 70px;
  margin-right: 93px;
} */

/* .join-us__menu-item:not(:last-child) {
  margin-right: 10px;
} */

/* =============== FORM FOOTER ===============*/
