.logo {
  display: inline-block;

  &__text {
    font-family: var(--special-font);
    /*  font-weight: 700;
    font-size: 26px;
    line-height: 1.19; */
    @include font(24px, 700, 28px);

    letter-spacing: 0.03em;
  }
}

.logo_footer {
  color: var(--clear-white);
  margin-bottom: 20px;
}

.logo_header {
  color: var(--main-color);
  margin: 26px 0;
}
