.logo-link {
  font-family: Raleway;

  align-items: center;
  padding: 24px 0 25px 0;
  margin-right: 93px;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--main-color);
}

.logo-link-footer {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  display: inline-block;
  text-align: start;

  color: #ffffff;
}
