.menu-container {
  position: fixed;

  display: flex;
  flex-direction: column;

  background-color: var(--clear-white);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;

  transform: translateY(-100%);
  transition: transform var(--time-animation);

  z-index: 999;

  // font-family: inherit;
}
.menu-container.is-open {
  transform: translateY(0);
}

@media screen and (min-width: 320px) {
  .menu-container {
    font-size: 14px;
    line-height: 14px;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: none;
  }
}

.mobile-close_btn {
  position: absolute;
  top: 10px;
  right: 15px;

  width: 40px;
  height: 40px;
}

.mob-menu {
  &__item:not(:last-child) {
    margin-bottom: 32px;
  }
  &__link {
    display: block;
    transition: color var(--time-animation);

    @include font(40px, 500, 47px);
    letter-spacing: 0.02em;
    color: var(--main-color);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}

.mobile-menu {
  background-color: #fff;
  margin-bottom: auto;
}

.mobile-menu-contact {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: 64px;

  &__item:not(:last-child) {
    margin-bottom: 32px;
  }

  &__link_tel {
    // @include font(34px, 500, 40px);
    font-size: 1.9em;
    font-weight: 500;
    line-height: 1.9em;
    letter-spacing: 0.02em;
    transition: color var(--time-animation);

    color: var(--accent-color);
    &:hover,
    &:focus {
      color: coral;
    }
  }
  &__link_mail {
    // @include font(24px, 500, 28px);
    font-size: 1.5em;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    transition: color var(--time-animation);

    color: var(--description-text);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}

.mobile-menu-social {
  display: flex;
  flex-wrap: wrap;

  &__item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    &:not(:last-child)::after {
      content: '';
      display: flex;
      margin-left: 10px;
      margin-right: 10px;

      width: 1px;
      height: 22px;

      background-color: rgba(33, 33, 33, 0.2);
    }
  }
  &__link {
    display: flex;

    transition: color var(--time-animation);

    @include font(18px, 500, 22px);

    letter-spacing: 0.02em;

    color: var(--accent-color);

    &:hover,
    &:focus {
      color: coral;
    }
  }
}
