.modal-btn {
  display: inline-block;

  min-width: 200px;
  border-radius: 4px;
  padding: 10px 32px;

  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;

  color: var(--section-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  border: 1px solid transparent;

  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 1.87;

  text-align: center;

  cursor: pointer;
}
